nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 10px 19px -10px rgba(0,0,0,0.46);

}

a {
    font-weight: bold;
    color: #0096A1;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border: 5px;
    margin: 5px;
    background-color: #BBCBDD;
    border-radius: 5px;
    color: #4A4459;
}

nav a:hover {
    background-color: #F4F9FB;
}

.top-bar {
    display: block;
    position: sticky;
    top: 0;
    width: 105%;
    z-index: 100;

    left: 0;
    margin: -50px;
    background-color: #BBCBDD;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #D7E9F2;
}


h1 {
    color: #614344;
    font-family: 'Volkhov', serif;
    font-size: 2.6em;

}

h2 {
    color: #88527F;
    font-family: 'Volkhov', serif;
    font-size: 1.8em;
    font-weight: lighter;
    text-align: justify;
}

h3 {
    color: #4A4459;
    font-family: 'Volkhov', serif;
    font-size: 1.4em;
    margin: 1em;
}

.profile-photo {
    max-width: 60%;
    min-width: 2in;
    margin: auto;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10in;
    align-content: center;
    margin: auto;
    height: 100% - 50px;

}

p {
    text-align: justify;
    margin: 1em;
    color: #332C23;
    line-height: 1.5em;
}

/*p::first-letter {
  font-size: 200%;
  color: #4B8178;
 font-family: 'Volkhov', serif;
}*/

button {
    background-color: #F4F9FB;
    color: #332C23;
    border: 3px solid #F4F9FB;
    border-radius: 3px;
    font-size: 1.3em;
}

button:hover {
    transform: scale(1.01);
    background-color: #88527F;
    color: #F4F9FB;
}

ul {
    list-style-position: outside;
    list-style-type: circle;
}

.topHeading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.topHeading h1 {
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

#coolOrigami {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: flex-start;
    flex-basis: content;
    justify-content: center;
    align-items: flex-start;
}

div.photoBox img {
    /* min-width: 20%; */
    max-width: 80%;
    padding: 10px;
    max-height: 80%;
    
   
}

caption {
    display: inline-flex;
    padding: 3px;
    margin: 10px;
    text-align:   center;
    align-self: center;
    justify-self: flex-start;
}

/* div.photoBox {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 5px whitesmoke solid;
    border-radius: 5px;
    padding: 5px;
    flex-basis: content;
} */

.photoBox {
    width: 250px;                 /* Set width of cards */
    border: 1px solid rgb(197, 197, 197);    /* Set up Border */
    border-radius: 4px;           /* Slightly Curve edges */
    overflow: hidden;             /*Fixes the corners */
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    height: 250px;
    background: rgb(229, 234, 236);
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-basis: content;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 10in;
    align-content: center;
    margin: auto;
    height: 90vh;


}

.formDiv {
    display: flex;
}

.formDiv * {
    flex-basis: 50%;
    justify-content: space-between;
    padding: auto;
    margin: 15px auto auto auto;
}

.formDiv input {
    height: 1.5em;
}

#messageText {
    max-height: 4em;
}

form button {
    align-items: center;
    margin: 10px auto;
    padding: auto;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #332C23;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text 
  height: 5em;*/
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-self: flex-end;
}


footer * {
    font-size: 60%;
    flex: 1 1 20%;
}

footer p a {
    text-decoration: none;
    color: #332C23;
    font-size: 100%;
}

.buttonContainer {display: flex;
justify-content: space-between;}

/* .middleContent {height: 90vh;} */

#aboutMeBody {height:100vh;}
#indexMain {height: 95vh;}