nav {
    display: flex;
    justify-content: space-around;}

    body {font-family: 'Quicksand', sans-serif;}
.profile-photo {
    max-width: 40%;
    }
    main {display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;}